<div class="header">
    <div class="logo" [routerLink]="['/home']" style="cursor:pointer;">
        <i class="fa fa-apple"></i>
    </div>

    <div class="nav-bar">
        <span>iPhone</span>
        <span>MacBook Pro</span>
        <span>Watch</span>
        <span class="notify">Notify Me</span>
    </div>

</div>

<div class="container" id="container" [@changeDivSize]=currentState>
    <img src="assets/images/apple-logo.png" alt="" />
    <button (click)="addMargin()"></button>
  
    <h1>Welcome To Apple</h1>
    <h4>See our Products</h4>
  
  </div>