.header {
    display: flex;
}
.header .logo {
    background: #000;
    width: 50px;
    text-align: center;
    height:50px;
}
.header .logo i{
    color:#fff;
    margin-top: 1em;
}
.header .nav-bar {
    margin-left: auto;
    font-size: 12px;
    color: gray;
   margin-top: 1em;

}
.header .nav-bar span {
   margin-right:2em;
}
.notify {
    color:#fff;
    background:#0072ff;
    height: 2em;
    padding: 2px 14px;
    border-radius: 15px
}

.container {
    margin-top:0.3em;
    text-align: center;
    height:100vh;
    background: linear-gradient(to top,  #f0f9ff 10%,#80808054 37%,#80808073 100%);
    /* margin: 0 3em; */
    transition: margin 700ms;
}
.container.open{
    margin: 0 3em;

}
.container img{
    z-index: -1;
    margin-top: 6em;
}
.container h1 {
    z-index:10;
    margin-top:-5em
}
.container h4 {
    margin-top: 9em;
    color: #00adff;
}