<div class="login">
    <form role="form" [formGroup]="form">
        <h2>Login</h2>
        <div class="form-field">
            <label for="username">Username</label>
            <input type="text" name="username" formControlName="username">
        </div>

        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password">
        </div>  
        <button class="submit" (click)="submit()">SUBMIT</button>
    </form>
  
</div>